*{/*Asteristico universal*/
    margin: 0;/* significa que você não quer margem algumasignifica que você não quer margem alguma*/
/*O padding em CSS é uma propriedade que define a distância entre o conteúdo de um elemento e as suas bordas*/
    padding: 0;
/*permite definir uma lista de fontes e a sua prioridade para apresentação de um elemento numa página*/   
    font-family:  Georgia, 'Times New Roman', Times, serif;
/* list-style do CSS define como os marcadores dos itens de uma lista serão formatados*/
    list-style: none;
}
/*é a parte superior de uma página web e é representada pela tag HTML <header>*/
header {
/*background-color define a cor de fundo de um elemento HTML*/    
    background-color: red;

    

 /*paddig é um atributo que define a distância entre o conteúdo de um elemento e as suas bordas*/   
    padding: 15px;
 /* display: flex  Quando colocamos essa propriedade em um elemento, esse elemento se torna um flex container, a partir daí podemos manipular todos os elementos filhos desse flex container 
 com propriedades novas*/   
    display: flex;
 /* justify-content define como o navegador distribui o espaço entre e em torno dos itens de conteúdo ao longo do eixo 
 o principal de um contêiner flex e do eixo em linha de contêineres de grade e multicol*/  
    justify-content: space-around;
 /*align-items define como os elementos são alinhados ao longo do eixo transversal, 
 que é perpendicular à direção do fluxo dos elementos*/  
    align-items: center;
}
/* (header) de um site é a primeira coisa que as pessoas veem quando acedam ao site*/
header img {
/*define a largura da área de conteúdo */    
    width: 100px;
/*determina a altura da área de conteúdo*/    
    height: auto;
}
/* (header) de um site é a primeira coisa que as pessoas veem quando acedam ao site*/
header nav ul {

 /*/* display: flex  Quando colocamos essa propriedade em um elemento, esse elemento se torna um flex container, a partir daí podemos manipular todos os elementos filhos desse flex container 
 com propriedades novas*/      
   display: flex;
}

header nav ul li {
/*list-style define as propriedades que formatam os marcadores dos itens de uma lista*/
    list-style: none;
/*margin-right do CSS define a dimensão da margem direita de um elemento HTML*/    
    margin-right: 20px;
}

header nav ul li a {
/*text-decoration do CSS é usada para definir a formatação de texto, 
incluindo sublinhados, linhas tracejadas, riscados ou piscando*/  
    text-decoration: none;
/*"color" do CSS define o valor da cor de um elemento com seu conteúdo 
em texto e suas decorações (estilos)*/  
    color: white;
}

.section-1 {
    background-image: url(Imagem/cable-car-8357178_1280.jpg);
    padding: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 button {
    width: 150px;
    height: 40px;
    background-color: rgba(255,255,255,0.671);
    border-radius: 12px;
}

.section-2 {
    padding: 250px;
    background-color: blueviolet;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
}

.section-2 img {
    width: 300px;
    height: auto;

}

.section-2 h2 {
    color: white;
    font-size: 20px;
}

.section-2 p {
    color: white;
    font-size: 20px;
    margin: 15px;

}

.section-3 {
    background-image: url(Imagem/cable-car-8357178_1280.jpg);
    background-attachment: fixed;
    padding: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-3 h2 {
    color: rgba(255,255,255);
    font-size: 27px;
    font-weight: 900;
    margin: 15;
}

.section-3 p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 900;
    margin: 15px;
}

footer {
    padding: 15px;
    background-color: black;
}

footer nav ul {
    display: flex;
    justify-content: center;

}

footer nav ul {
     display: flex;
     justify-content: center;

}
 
footer nav ul li {
    list-style: none;
    margin-right: 10px;

}

footer nav ul li a {
    text-decoration: none;
    color: antiquewhite;
}